'''
    def search_by_location(self, location: str) -> dict:
        """Performs a search query that filters results based on location stolen"""
        url = "{}search?page=1&per_page=100&location={}&distance=10&stolenness=proximity".format(self.url, location)
        response = requests.get(url)
        search_result = json.loads(response.text)
        return search_result
'''